<%#= render 'friends/lookup'%>
<% if @friendships.size > 0 %>

<% else %>
    <div class="row col-lg-12">
        <p class="lead">You dont have any Friend to see. Please add some!</p>
    </div>
<% end %>